body{
    font-family: "馬酔木明朝";
    background-color: black;
    background-image: url(../../public/img/bg-image-we4.jpg);
    background-repeat: no-repeat;
    background-position:20px;
    background-size:170%;
  }

.title{
    font-size:5em;
    font-weight: bold;
    color:white;
    background-color: black;
    text-align: center;
}

.write-vartical{
  writing-mode: vertical-rl;
}

p{
  font-size: 20px;
  font-weight: bold;
}

.layout-vartical{
  display:flex;
}

  @font-face {
    font-family: "馬酔木明朝";
    src:url(../../public/fonts/AsebiMin-Light.otf)
  }