---
import { Image } from "astro:assets";
import imageMain from '/public/img/bg-image-we4.jpg';
let title ='ABSTRACT';
---
<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title> {title}</title>
</head>
<body>
	<div class="layout-vertical">
		<slot>

		</slot>
		<div class="write-vartical">
			<p class="title">{title}</p>
			<p style="color:white;background:black;opacity:0.7;text-align:center;">岡山発。オルタナティブロックバンド。</p>
		</div>
		<Image src={imageMain} class="main-image"alt="abstractの画像"/>
	</div>
</body>
</html>